# Copy this file to .env and replace the placeholder values with your Neon database credentials.
# Example:
# VITE_DATABASE_URL=postgres://username:password@host.neon.tech/database

VITE_DATABASE_URL=postgresql://neondb_owner:npg_h5qrtU9cRigE@ep-patient-sound-at395tfe-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
